:root {
    --lightest-gray: whitesmoke;
    --accent: firebrick;
    --light-gray: silver;
    --medium-gray: gainsboro;
}


body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-bottom: 200px;
    background-color: var(--lightest-gray);
}

body a {
    text-decoration: none;
    color: var(--accent);
}

#navbar {
    background-color: black;
    overflow: hidden;
    width: 100vw;
    /* height: 80px; */
    position: fixed;
    top: 0;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-grow: 1;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: var(--lightest-gray);
    margin: 10px;
    padding: 0px;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    background-color: white;
    margin-top: 50px;
}

.container {
    display: flex;
    flex: 1;
    background-color: var(--lightest-gray);
    min-height: 15vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    max-width: 275px;
    background-color: white;
    margin: 10px;
    padding: 5px;
}

.tile img {
    width: 100%;
}

.hero {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40vh;
    padding: 100px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    max-width: 100%;
    height: 50px;
    background-color: var(--light-gray);
    color: black;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
}

.hero .button {
    background-color: white;
    color: firebrick;
}

.title {
    font-size: 2em;
}

.pageTitle {
    font-size: 1.5em;
}

.sectionTitle {
    font-size: 1.5em;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.sideBySide {
    display: flex;
    /* flex-direction: row; */
    flex: 1;
    background-color: var(--lightest-gray);
    min-height: 15vh;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-bottom: 5px white solid;
    /* margin: 5px; */
}

.sideBySide .subsectionContainer {
    min-width: 50%;
    padding-top: 30px;
    /* margin: 5px; */
    /* background-color: whitesmoke; */
}

.subsectionContainer:first-child {
    border-right: 5px white solid;
}

.sectionContainerColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--lightest-gray);
    min-height: 15vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
}

.sectionDescription {
    margin: 10px;
    width: 100%;
    max-width: 500px;
}

#donate .sectionContainer {
    background-color: gainsboro;
    height: 100%;
}

#donate .button {
    margin: 40px;
}

#share .button {
    margin: 40px;
    background-color: var(--light-gray);
    color: black;
}

#shop .button {
    background-color: firebrick;
    color: white;
}

.brightBackground {
    background-color: firebrick;
    color: white;
}

.subsectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#hero .container {
    background-color: firebrick;
    color: white;
}

#pickup .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

#pickup img {
    min-width: 30%;
    max-width: 50%;
}

#shop .container {
    padding-top: 80px;
}

#gallery .container {
    flex-direction: column;
    justify-content: center;
    /* padding-top: 80px; */
}

#gallery .button {
    max-width: 200px;
    margin: 25px 0px;
}

#galleryList {
    display: flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
    /* overflow-x: auto; */
    list-style-type: none;
    width: 100vw;
    padding: 5px 10px;
    background-color: var(--lightest-gray);
}

#galleryList ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

#gallery .tile {
    display: flex;
    flex-direction: column;
    /* flex: 0 0 auto; */
    /* padding: 10px 20px; */
    /* background-color: white; */
    margin: 5px;
    width: 100%;
    max-width: 280px;
    min-height: 520px;
    /* max-height: 500px; */
}

.entryDescription {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 10px 5px;
}

/* #gallery li {
    margin: 10px;
} */

/* #gallery .tile ul {
    margin-bottom: 10px;
} */

/* #gallery .tile ol {
    margin-bottom: 10px;
} */

.entryDescription {
    margin: 0px 10px;
}

#gallery .tile ul {
    list-style-type: circle;
}

#gallery .tile img {
    width: 100%;
}

#contact img {
    max-width: 250px;
}

#contact .subsectionContainer {
    max-width: 500px;
    border-right: none;
    padding-right: 30px;
}

#productList {
    width: 100%;
    display: flex;
    justify-content: center;
}

#productList ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.product button {
    max-width: 100%;
}

.productMainImage {
    max-width: 100%;
    height: 275px;
    margin: 5px;
}

.productName {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.productDescription {
    flex-grow: 1;
    margin: 10px 5px;
}

img {
    object-fit: cover;
}


@media (max-width: 800px) {
    .rowContainer {
      flex-direction: column;
    }
    .rowContainer img {
        width: 100%;
    }
    #navbar {
        position: static;
        padding-bottom: 5px;
    }
    nav {
        flex-direction: column;
        padding-bottom: 5px;
        align-items: flex-end;
    }
    #contentContainer {
        margin-top: 0px;
    }
    nav ul {
        flex-direction: column;
        padding-inline-start: 0;
        align-items: flex-end;
    }

    nav i {
        padding-inline-end: 10px;
    }
  }
