body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    /* background-color: whitesmoke; */
}

#navbar {
    background-color: lightseagreen;
    overflow: hidden;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color:black;
    margin: 10px;
    padding: 0px;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    /* max-width: 1000px; */
    background-color: white;
    margin-top: 50px;
}

.CTAcontainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    background-color: tomato;
    color: white;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
}

.buyButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: tomato;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
}

.title {
    font-size: 2em;
}

.sectionTitle {
    font-size: 1.5em;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.sideBySide {
    display: flex;
    flex-direction: row;
    flex: 1;
    /* flex: 0 0 100%; */
    background-color: whitesmoke;
    min-height: 15vh;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sideBySide .subsectionContainer {
    min-width: 50%;
}


/* #gallery {
    background-color: orange;
}

#share {
    background-color: red;
}

#contact {
    background-color: gray;
} */

.sectionContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* flex: 0 0 100%; */
    background-color: whitesmoke;
    min-height: 15vh;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sectionDescription {
    margin: 10px;
    width: 100%;
    max-width: 500px;
}

#hero img {
    min-width: 50%;
}

#donate .sectionContainer {
    background-color: gainsboro;
    padding: 80px 0px;
}

#donate .button {
    margin: 40px;
}

#share .button {
    margin: 40px;
    background-color: white;
    color: tomato;
}

#volunteer .button {
    margin: 40px 0px;
}

.brightBackground {
    background-color: tomato;
}

.mediumGrayBackground {
    background-color: gainsboro;
}

#volunteer .sectionContainer {
    flex-direction: row;
    padding: 80px 0px;
    background-color:silver
}

#volunteer img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-right: 30px;
}

.subsectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#volunteer .sectionDescription {
    max-width: 250px;
}

#hero .sectionContainer {
    background-color: gainsboro;
    flex-direction: row;
}

#pickup .sectionContainer {
    /* background-color: gainsboro; */
    flex-direction: row;
    justify-content: space-around;
    padding: 80px 0px;
}

#pickup img {
    min-width: 30%;
}

#shop .sectionContainer {
    padding-top: 80px;
}

#gallery .sectionContainer {
    padding-top: 80px;
}

#gallery .button {
    max-width: 200px;
    margin: 25px 0px;
    background-color: black;
}

#galleryList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    list-style-type: none;
    width: 100%;
    padding: 5px 10px;
    background-color: whitesmoke;
}

.entry {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    padding: 10px 20px;
    background-color: gainsboro;
    margin: 5px;
    max-width: 285px;
    align-items: center;
}

/* .entry img {
    max-width: 100%;
} */

.entry ul {
    margin-bottom: 10px;
}

.entry ol {
    margin-bottom: 10px;
}

.entryDescription {
    margin: 0px 10px;
}

.entry ul {
    list-style-type: circle;
}

#productList {
    width: 100%;
}

#productList ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    max-width: 275px;
    background-color: white;
    margin: 10px;
    padding: 5px;
}

.productMainImage {
    max-width: 100%;
    height: 275px;
    margin: 5px;
}

.productName {
    margin-block-start: 5px;
    margin-block-end: 5px;
    /* font-size: 1.25em; */
}

.productDescription {
    flex-grow: 1;
    margin-block-start: 5px;
    margin-block-end: 5px;

}

@media (max-width: 800px) {
    .sectionContainer {
      flex-direction: column;
    }
  }

img {
    object-fit: cover;
}

